$color-primary: #717171;
$color-secondary: #919191;
$color-light-gray: #cccccc;
$color-green: #3c7649;
$color-blue: #3684cb;
$color-red: #dd4b4b;

$color-bg-gray: #eeeeee;
$color-bg-medium-gray: #f6f6f6;
$color-bg-light-gray: #f4f4f4;
$color-bg-white: #ffffff;

$height-header: 100px;

$media-breakpoint-sm: 536px;
$media-breakpoint-md: 767px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1198px;
$media-breakpoint-xxl: 1400px;
$media-breakpoint-full-hd: 1918px;
